*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header{
    display: flex;
    background-color: #8c8c8c;
}
.menuitems{
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    div{
        a{
         font-size: x-large;
         text-decoration: none;
         color: #999B9B;
        }
        a:hover{
            text-decoration: underline;
            color: aliceblue;
        }
    }
}
.logo{
    height: 20vh;
    margin-left: 20px;
    margin-right: 20px;
}
main{
    display: flex;
    flex-direction: column;
    text-align:  center;
    flex: 1;
    justify-content: center;
    background-color: #c0c0c0;
}
.titulo{
    position: absolute;
    width: 80%;
    z-index: 10;
    margin-top: 25vh;
    margin-left: 10%;
    margin-right: 10%;
    color: whitesmoke;
    text-shadow: 0px 10px 15px black;
        h1{
        padding: 10px;
        font-size: 70px;
        font-weight: 800;
        letter-spacing: 3px;
          }
}

.carousel{
    position: relative;
}
.carousel-item{
    height: 80vh !important;
    filter: brightness(0.7);
}
// ------------------------------Logo flotante Whatsapp------------------------
.wslogo{
    width: 100%;
    position: fixed;
    justify-items: end;
    bottom: 25px;
    img{
        margin-left: 90%;
        padding: 5px;
        background-color: #2bb63f;
        border-radius: 50%;
        height: 65px;
        width: 65px;
        box-shadow: 0px 5px 10px rgb(104, 104, 104);
    }
    img:hover{
        background-color: #128C7E;
        padding: 8px;
        height: 85px;
        width: 85px;
        transition: 0.3s;
    }
}

.subtitulos{
    font-size: 5vh;
}

// --------------------------------------Nuestros servicios------------------------------------
.section-servicios{
    margin-top: 45px;
}
.servicio{
    display: flex;
    margin: 20px;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    img{
        height: 300px;
        width: 400px;
    }
}
.serv-texto{
    width: 45%;
    h3{
        text-decoration: underline;
    }
}
//--------------------------------Sobre nosotros-------------------------------------------------





// --------------------------Contacto----------------------------------------------------------
.indexcontacto{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
}
.indexbarra{
    width: 45%;
}


// ----------------------------footer--------------------------------
footer{
    color: #999B9B;
    background-color: #1f1f1f;
    text-align: center;
    align-content: center;
    font-size: large;
    margin: 0;
    padding: 10px;
    flex: 1;
        img{
            margin-top: 5px;
            height: 80px;
            margin-bottom: 10px;
    }
}